<title>Novarium Comics</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="description" content="A landing page of Novarium Comics" />
<meta name="keywords" content="comic, shounen, studio, indonesia" />
<meta property="og:site_name" content="Novarium Comics" />
<meta property="og:title" content="Novarium Comics" />
<meta property="og:type" content="website" />
<meta property="og:description" content="A landing page of Novarium Comics" />
<meta property="og:image" content="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiDXjcTq4NWtWPcwIVM2OvZk0Ib4jXOPRmEsW0XRtMopxA7ZiJZ619EQcKNZT4yuO7SzCXqm7JmE7MvvFskjyKYl-3U9PyjHTYJ8HPNy7lQ4Cz_OF8uAh1wfGAeMFrlpV2FZ8-eAtS9_m0HstD1icnMRVT49lcZpI9gHFhswCq4a5uYAzDHIJ3RiQW_Dy32/s1280/OG_IMAJI.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="800" />
<meta property="og:url" content="" />
<meta property="twitter:card" content="summary_large_image" />
<link rel="canonical" href="" />
<link href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEih527LkJgvM4GsnjVMZVsQCHMbDFd37IATzQeGX3kYCwC_YuwLfGdlZqKiq2Ykkl6MQUSme5kzsMXddzX8oX4i4EcSvN18vzry2acDPLFYtg-CAiX1Boteh4t47pqVkCMIPTAouGiTYLKiC56MHL2AOhWm-wHH8ZnSimrNVEJ74A4FoSOos6oURHdMz-9B/s100/420161599_753239106205185_3131794023892047927_n.jpg" rel="icon" type="image/x-icon">
<link href='//blogger.googleusercontent.com' rel='dns-prefetch'/>
<!--FONT-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@800&family=Lato:ital,wght@0,400;0,900;1,400;1,900&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
<link rel="stylesheet" href="/assets/novarium.css" />