<footer id="footer-area">
    <div id="footer-container">
        <section id="copyright" class="left">
            <p>Copyright&copy;2024, Novarium comics. All rights reserved.</p>
        </section>
        <section id="link" class="right">
            <ul id="medsos-list">
                <li>
                    <a title="Novarium at email" target="_blank" href="mailto:novarium.comics+web@gmail.com">
                        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhhZfZ1Lk53HfkhJnpxaojWOiRoO_5bkoOlKL6TpCg82qMFYlRrOHxlzFzto2TwZoSj92uTX81EmNeiPN5-E8dXq-2t_MwaJ1b1-eIDmM_c1LzN5C7uaMCvLRvd6MuKBgUoOrF4_2wjwuHjrBxxIrmakp0iFqYNtpa_tn4IZgSbi8vk3xtCoDcSTqpUzsaA/s40/message.png" alt="">
                    </a>
                </li>
                <li>
                    <a title="Novarium at Facebook" target="_blank" href="https://fb.com/novarium.comics">
                        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3kftiukj___IraHw4LSvhxl9ddB-tAMl-LFQ5FzfLPaPB3K7fMGGFXhR-gVLsXzSXPFGhenFj6bCYm0F0Avg_xqIcIw8_hCdzBFMKUiuMZSP3S-3bvg5nQmrCKXEb5NRddKHAxWLAljrJQZ-LgCv7-w9zEhSCim7ZrJgpuB_UDmsbW4CtvJDG6aWSVdns/s40/facebook.png" alt="">
                    </a>
                </li>
                <li>
                    <a title="Novarium at Instagram" target="_blank" href="https://instagr.am/novarium.comics">
                        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiDt8gF7PNoGzfXdWO1BD1pWFD_bSLK882YMYl-905pcFkXli82s1V2HWagsN5xBG0b11wuIWAY9ZAfT4GtLD8THkODQPEFPEHzvLwgBAc2GUQT6_1M76ZRRXaXZZyDrH_jrT7qYcT1e3EI593By7l7HUV-nXDpYH-CFXZURFIG88B6a4kVmSIhhhApjo9F/s40/instagram.png" alt="">
                    </a>
                </li>
                <li>
                    <a title="Novarium at YouTube" target="_blank" href="https://youtube.com/@novarium.comics">
                        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgTBRVH4AnoUTKmSUyLvkwb3yD5AsjsZOxyqlIxEodoAHGvjlKYtCJi7wwIX-Gg1GNPzr5daGpvazT6AZ7wd2RGYiQRleAqOe5-TZMG-9MOFLQzGKj9FnugdMAEUNzjPapai4vcT93A9moKPO33mlYE_0f7RyReIxa1LcZo_04oGx0kM81Fa2Qtc9z1wClv/s40/youtube.png" alt="">
                    </a>
                </li>
            </ul>
        </section>
    </div>
</footer>
<script src="/assets/novarium.js"></script>