:root {
    --acn1: #ffa200;
    --acn2: #a54c0c;
    --acn3: #facc07;
    --wht: #f3ede7;
    --blk: #060513;
    --gry1: #d1ccc9;
    --gry2: #a4a0a0;
    --gry3: #827f82;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--wht);
    color: var(--blk);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: bold;
    color: var(--acn2);
    margin: 1.5em 0 0.5em;
}

h1, h2, h3 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h4, h5, h6, h7 {
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3, h4 {
    font-size: 1.6em;
}

h5, h6, h7 {
    font-size: 1.2em;
}

p:not(:last-child) {
    margin-bottom: 1em;
}

hr {
    border: 3px solid var(--acn1);
}

/* Gallery Styles */
.gallery ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
}

.gallery li {
    list-style: none;
    padding: 0;
    width: 33.33%;
    height: 450px;
    overflow: hidden;
}

.gallery a {
    display: block;
    height: 100%;
}

.gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery.small li {
    height: 200px;
}

/* Header Area */
#head-area {
    background: var(--acn1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #head-area h1 {
        color: var(--wht);
    }

/* Main Area */
#main-area {
}

/* Home Section */
.home-section {
}

/* Work Gallery */
#work-gallery {
    margin-right: -300px;
    margin-top: 50px;
}

    #work-gallery.gallery img {
        /* width: 100%; */
    }

/* Comic Work */
#comic-work {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

    #comic-work > div {
        padding: 20px;
    }

#comic-thumb {
    width: 30%;
}

    #comic-thumb img {
        width: 100%;
    }

#comic-summary {
    width: 70%;
}

h1#comic-title {
    margin-top: 0;
}

#comic-author li {
    list-style: none;
}

/* Section Container */
.section-container {
    width: 900px;
    margin: 100px auto;
}

.section-container-handler {
    padding: 20px 300px 20px 20px;
}

/* Full Height Section */
.full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.section-heading.full-height {
    background: var(--acn1);
    color: var(--blk);
}

/* Summary */
#summary {
    width: 900px;
    margin: 0 auto;
}
