<!DOCTYPE html>
<html lang="en">
<head>

    {% include "parts/allHead.njk" %}

</head>
<body>
    {% include "parts/header.njk" %}

    {{ content | safe }}

    {% include "parts/footer.njk" %}
</body>
</head>