---
layout: layouts/base.njk
title: "Home Page"
---
<header id="head-area" class='parallax-container'>
    <div class='parallax-img par-header'></div>
    <h1>Novarium Comics</h1>
</header>

{{ content | safe }}