---
title: Novarium Comics
preOrder: false
---
{% extends "layouts/home.njk" %}

{% block pageSum %}
    <h2 class="subtitle">We are the singularity who forged the co<em class="acn1">(s)</em>mic nebula</h2>
    <p>We&apos;re an Indonesian comic studio with a passion for creating cosmic stories that try to bring young-adult story with our own constellation. At Novarium, we aim to share our visions on the global stage, inviting you to explore original tales that span from Medieval intrigue to the vastness of space.</p>
{% endblock pageSum %}

{% block pageProj %}
    <p>Our focus is on creating constellations of stories, art, and characters that stand out. Each project has its own theme and narrative that connects deeply with our audience.</p>
    <p>Our <em>Big Bang</em> started by our first comic, "Demon Pepito." Since then, we've forged two comics across nine titles. In 2025, we're excited to launch a new project that showcases our growth and pushes the boundaries of imagination.</p>
{% endblock pageProj %}

{% block pageAbt %}
    <p>Novarium's journey began at a comic conference in 2022. Inspired by the event, we had a new vision: to create a compilation comic. And so, our journey began.</p>
    <p>Starting from scratch, we built Novarium's foundation with the Demon Pepito circle, laying the groundwork for our artistic adventure. Our first project was a compilation comic with a Medieval theme.</p>
    <p>Seeing the community's enthusiasm for our comics, we decided to keep going. We evolved under a new name. It wasn't an end but a new beginning; we emerged as Novarium, ready to continue creating our universe.</p>
{% endblock pageAbt %}